user.gradle
.gradle/
target/
build/
out/

*.DS_Store
*.class
*.swp
*~

.idea
*.iml
*.ipr
*.iws
.shelf

.fleet

.vscode
.settings/
.classpath
.project
bin/
.jqwik-database
.gitignore

node_modules


.gradle
**/build/
!src/**/build/


gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.project

.classpath